body{
  font-family: 'Open Sans',sans-serif;
  font-size: 1em;
  }
h1,h2 {
  font-family: 'Oswald',sans-serif;
  }

.azul {
  background-color: #004792;
}
header {
  background-image: url("../img/chicago.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  background-position: center;
}
.titulo{
  padding-top: 20rem;
}
.about {
  line-height: 2em;
}
.foto {
  width: 150px;
  height: 150px;
}
.carousel-indicators li{
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: black;
  }
  .carousel-indicators {
    bottom: -3.5rem;
  }
